-# coding: UTF-8

.pagination.pagination-centered
  %ul
    -if @page <= 1
      %li
        %a &laquo;
    -else
      %li.disabled
        %a{:href => "?page=#{@page - 1}"} &laquo;

    -(([@page - 9, 1].max)..([@page + 9, @total_pages_count].min)).each do |p|
      -if p == @page
        %li.active
          %a
            = p
      -else
        %li
          %a{:href => "?page=#{p}"}
            = p

    -if @page >= @total_pages_count
      %li.disabled
        %a &raquo;
    -else
      %li
        %a{:href => "?page=#{@page + 1}"} &raquo;


.row
  = "Page #{@page} of #{@total_pages_count} (total #{@total_posts_count} posts)"

-@posts.each_with_index do |post, idx|
  -if @admin
    .row{:id => ['p', @page, 'i', idx]}
      .col-xs-5.col-md-3
        %a{:href => "#{post.author_url}"}
          %img{:src => 'http://img3.douban.com/favicon.ico'}
        = post.author
      .col-xs-7.col-md-9
        %a{:href => "#{post.post_url}"}
          %img{:src => 'http://img3.douban.com/favicon.ico'}
        = post.title
        = post.pictures.nil? || "[#{post.pictures.count}]"
    .row
      .col-xs-12
        = post.content
    .row
      [ #{post.group.doubangroup_id if post.group} ]
      %q{:title => post.post_hash}
        = post.post_id
      = post.post_time.strftime("%Y%m%d-%H:%M:%S")
    .row
      %b{:class => post.published ? "online" : "offline"}
        = post.published ? "已发布" : "未发布"
    .row
      %a.btn{:href => "/post/#{post.id}/blacklist?tag=p_#{@page}_i_#{idx}"} 删除
      - unless post.send_status == true
        %a.btn{:href => "/post/#{post.post_id}/#{post.post_hash}/mail", :target => '_blank'} 发邮件
      %a.btn{:href => "/post/#{post.id}/offline?tag=p_#{@page}_i_#{idx}"} 下线
      %a.btn{:href => "/post/#{post.id}/online?tag=p_#{@page}_i_#{idx}"} 上线
  .row
    - post.pictures.each do |pic|
      %img.thumbnail{:'data-src' => pic.access_url, :src => pic.access_url_resize(240, 360), :rel => "#overlay"}

  %hr

.pager
  -if @page <= 1
    %li.previous.disabled
      %a &laquo;
  -else
    %li.previous
      %a{:href => "?page=#{@page - 1}"} &laquo; Prev
  -if @page >= @total_pages_count
    %li.next.disabled
      %a &raquo;
  -else
    %li.next
      %a{:href => "?page=#{@page + 1}"} Next &raquo;

.apple_overlay#overlay
  .contentWrap

:css
  /* use a semi-transparent image for the overlay */
  #overlay div.contentWrap img.popupimage {
    max-width: 100%;
    max-height: 92%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
  }
  .online {
    color: red;
  }
  .offline {
    color: gray;
  }

%script{:type => "text/javascript", :src  => "/js/jquery.tools.min.js"}
:javascript
  $(function() {
    // if the function argument is given to overlay,
    // it is assumed to be the onBeforeLoad event listener
    $("img[rel]").overlay({
      mask: 'darkgray',
      effect: 'apple',
      onBeforeLoad: function() {
        // grab wrapper element inside content
        var wrap = this.getOverlay().find(".contentWrap");
        // load the page specified in the trigger
        //wrap.load(this.getTrigger().attr("src"));
        wrap.html("<img class='popupimage' src='" + this.getTrigger().attr("data-src") + "'>");
      },
      onLoad: function () {
        $("body").css("overflow", "hidden");
      },
      onClose: function () {
        $("body").css("overflow", "");
      }
    });
    $("#overlay").click(function(){
      $('#overlay a.close').trigger('click');
    });
  });